<%- errorMessagesFor(anotherobject) %>
<div class="control-group">
   <%- form.label("Property1", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("Property1") %>
   </div>
</div>
