<style>
	.bordered_item
	{
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
	}
	
	.bordered_unselected_item
	{
		border-right: 1px solid #CCC;
		border-left: 1px solid white;
	}
	
	.selected_top_neighbor_item
	{
		border-right: 1px solid #CCC;
		border-left: 1px solid white;
		border-bottom: 1px solid #CCC;
		border-bottom-right-radius:5px;
	}
	
	.selected_bottom_neighbor_item
	{
		border-right: 1px solid #CCC;
		border-left: 1px solid white;
		border-top: 1px solid #CCC;
		border-top-right-radius:5px;
	}
	
	.selected_item
	{
		width:10px;
		border-left: 1px solid #CCC;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
	}
	
	.bordered_content_item
	{
		border-top: 1px solid #CCC;
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	.side_item
	{
		width:10px;
	}
	
	.side_item_selected
	{
		
	}
	
</style>
<br>
<table style="width:800px;height:600px" align="center" cellpadding=0 cellspacing=0>
	<tr>
		<td style="width:300px">
			<div style="width:100%;height:100%;overflow:hidden;">
				<div  class="bordered_unselected_item"  style="width:300px;height:40px"></div>
				<div  class="selected_item"  style="width:300px;height:40px"></div>
				<div  class="bordered_unselected_item"  style="width:300px;height:40px"></div>
				<div  class="bordered_unselected_item"  style="width:300px;height:40px"></div>
				<div  class="bordered_unselected_item" style="width:300px;height:100%;"></div>
			</div>
		</td>
		<td>
			<div  class="bordered_content_item"  style="width:100%;height:100%;"></div>
		</td>
	</tr>
</table>